.card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.card-title {
    font-size: 1.3em;

}
.card-text {
    font-size: 1.3em;
}
